.sidebar {
    width: 20rem;
    background: pink;
    padding: 1rem;
}

.foo {
    color: red
}

.foo >.bar {
        color: blue
}

/* equivalent to
   .foo { color: red; }
   .foo > .bar { color: blue; }
 */

.foo {
    color: red
}

.parent .foo {
        color: blue
}

/* equivalent to
   .foo { color: red; }
   .parent .foo { color: blue; }
 */

.foo {
    color: green
}

:not(.foo) {
        color: green
}

/* equivalent to
   .foo { color: red; }
   :not(.foo) { color: blue; }
 */