.sidebar {
    width: 20rem;
    background: pink;
    padding: 1rem;
}

.foo {
    color: red;

    @nest & >.bar {
        color: blue;
    }
}

/* equivalent to
   .foo { color: red; }
   .foo > .bar { color: blue; }
 */

.foo {
    color: red;

    @nest .parent & {
        color: blue;
    }
}

/* equivalent to
   .foo { color: red; }
   .parent .foo { color: blue; }
 */

.foo {
    color: green;

    @nest :not(&) {
        color: green;
    }
}

/* equivalent to
   .foo { color: red; }
   :not(.foo) { color: blue; }
 */